/* Sidebar */
.sidebar{
    width: 17%;
    min-height: 100vh;
}
.link{
    text-decoration: none;
}
.link:hover{
    background: #0756cc;   
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.clickedLink{
    text-decoration: none;
    background: #0756cc;   
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* Home */
.homeMainSide{
    flex: 1;
}
.homeCardsWrapper{
    width: 100%;
    display: grid;
    gap: 20px;
    justify-items: space-between;
    align-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
}