.sidebar{
    width: 17%;
    min-height: 100vh;
}
.link{
    text-decoration: none;
}
.link:hover{
    background: #0756cc;   
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.clickedLink{
    text-decoration: none;
    background: #0756cc;   
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}